@model IEnumerable<MVCPublishersProject.Models.Author>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th></th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td id="CommandTD">
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
        </tr>
    }

</table>

